services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:2026.2"
    volumes:
      - ./homeassistant:/config
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: always
    privileged: true
    network_mode: host

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.8.0
    restart: unless-stopped
    volumes:
        - ./data:/app/data
        - /run/udev:/run/udev:ro
    ports:
        - 8082:8080
    environment:
        - TZ=Europe/Madrid
    devices:
        - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_fc0671e16fbeed119095a04838a92db5-if00-port0:/dev/ttyACM0

  mosquitto:
    image: eclipse-mosquitto:2.0
    hostname: mosquitto
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./etc_mosquitto:/etc/mosquitto
      - ./mosquitto_config:/mosquitto/config/
      
  # Only needed if you want to enable gassistant integration
  #nginx:
  #  container_name: nginx-proxy
  #  image: nginx:latest
  #  restart: unless-stopped
  #  network_mode: host
  #  volumes:
  #    - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #  depends_on:
  #    - homeassistant
  #  logging:
  #    driver: "json-file"
  #    options:
  #      max-size: "10m"
  #      max-file: "3"

  #cloudflared:
  #  container_name: cloudflared
  #  image: cloudflare/cloudflared:latest
  #  restart: unless-stopped
  #  command: tunnel run
  #  network_mode: host
  #  volumes:
  #    - ./cloudflared:/etc/cloudflared:ro
  #  depends_on:
  #    - nginx
  #  environment:
  #    - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
  #  logging:
  #    driver: "json-file"
  #    options:
  #      max-size: "10m"
  #      max-file: "3"

networks:
  homeassistant-net:
    driver: bridge
